body{
    margin: 0;
}

#main{
    display: grid;
    grid-template-areas: "header header header"
                         "nav nav nav"
                         "aside aside aside"
                         "section section section"
                         "footer footer footer";
    grid-template-rows: 200px 100px 200px 200px 100px;
}

header{
    grid-area: header;
    background-color: blue;
}

/* header h1{
    font-family: 'Pacifico';
    color: white;
    align-items: center;
    justify-content: center; */
/* } */

nav{
    grid-area: nav;
    background-color: red;
}

aside{
    grid-area: aside;
    background-color: green;
}

section{
    grid-area: section;
    background-color: yellow;
}

footer{
    grid-area: footer;
    background-color: black;
}